
    body {
        padding: 0%;
        margin: 0%;
    }
   
    @media only screen and (max-width:481px)  {
    .pattern {
        position: relative;
        background-color: rgba(255, 255, 255, 1);
        background-image: linear-gradient(315deg,
                        #ffffff 0%, #ffffff 74%);
    z-index:1 ;
    }
      
    .pattern:before {
        content: "";
        position: fixed;
        bottom: 0%;
        left: 0;
        width: 100%;
        height: 30%;
        background: url(wave.png);
        background-size:cover;
        background-repeat: no-repeat;
    }
    .avatar{
        display: inline-block;
        height:auto;
        width:15%;
    }
    .dropbtn {
        background-color: #04AA6D;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        border-radius: 25px;
      }
      .dropdown {
          position: absolute;
          top:5px;
            display: inline-block;
      }
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      .dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}   
.logo{
        position:fixed;
        bottom:0;
        left:0;
        z-index :2;
        width:30%;
        height:auto;
    }
  
    .site{
        height:auto;
        position: relative;
        width: 200px;
        left:40%;
        right:40%;
        top:20%;
        margin:20px;
        text-align: center;
    }
    .newsite{
    
        height:auto;
        position: relative;
        max-width: 200px;
        left:45%;
        right:40%;
        top:20%;
        text-align: center;
    }
    .link1{
        position:relative;
        top:20%;
        font: bold 11px Arial;
        text-decoration: none;
        background-color: #34C292;
        color: white;
        padding: 10px 12% 12px 10%;
        border-radius: 25px;

    }
    .link2{
        position:relative;
        top:40%;
        font: bold 11px Arial;
        text-decoration: none;
        background-color: white;
        color: #03DABB;
        padding: 10px 10% 12px 10%;
        border-radius: 25px;
        border-top: 1px solid #00BFA6;
        border-right: 1px solid #00BFA6;
        border-bottom: 1px solid #00BFA6;
        border-left: 1px solid #00BFA6;
    }
}